@model AndroidWebService.Models.CTDatPhong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTDatPhong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienCoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienCoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhongTro.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhongTro.TieuDe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
