@model IEnumerable<AndroidWebService.Models.CTDatPhong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienCoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongTro.TieuDe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienCoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhongTro.TieuDe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
