@model IEnumerable<AndroidWebService.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaiTro.TenVaiTro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaiTro.TenVaiTro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TenDangNhap.Trim() }) |
            @Html.ActionLink("Details", "Details", new { id=item.TenDangNhap.Trim() }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TenDangNhap.Trim() })
        </td>
    </tr>
}

</table>
