@model AndroidWebService.Models.PhongTro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhongTro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai.TenTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai.TenTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViTri.Quan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTri.Quan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPT }) |
    @Html.ActionLink("Book", "Book", "Test", new { id = Model.MaPT }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
