@model IEnumerable<AndroidWebService.Models.PhongTro>
@{
    ViewBag.Title = "Danh sách phòng trọ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Danh sách phòng trọ</h2>
<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class="btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>Quận</th>
        <th>Tiêu đề</th>
        <th>Diện tích</th>
        <th>Giá</th>
        <th>Người đăng</th>
        <th>Ngày đăng</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ViTri.Quan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @string.Format($"{item.DienTich} m")<sup>2</sup>
            </td>
            <td>
                @string.Format($"{item.Gia:0,0} đ")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai.TenTT)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaPT }, new { @class="btn btn-success" }) |
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaPT }, new { @class = "btn btn-warning text-white" }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaPT }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
