@model IEnumerable<AndroidWebService.Models.ViTri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViDo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViDo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaVT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaVT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaVT })
        </td>
    </tr>
}

</table>
